@model InternViewModel

@{
    ViewData["Title"] = "Intern";
}

<h1>Intern: @Model.Name</h1>
<br />
<h3>Title: @Model.Title</h3>
<p>Skills: @Model.Skills</p>
<h3>Email: @Model.Email</h3>
<h3>Contact Number: @Model.ContactNumber</h3>

