@model InternViewModel

@{
    ViewData["Title"] = "Intern";
}

<h1>Intern: @Model.Name</h1>

<h2>Title: @Model.Title</h2>
<p>Skills: @Model.Skills</p>
<h2>Email: @Model.Email</h2>
<h2>Contact Number: @Model.ContactNumber</h2>

